:root {
  --node-color: #000;
  --node-border-color: #0001;
  --focused-color: #fc0;
  --highlighted-color: #08f2;
  --invalid-color: #f662;
  --text-field-border-color: #dddc;
  --edge-color: #666;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

input {
    visibility: hidden;
}

.pane {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.paneDivider {
    width: 20px;
    background-color: var(--text-field-border-color);
    height: 100%;
}

svg {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.nonsvg {
    z-index: 1;
    //position: absolute;
}

.text-field {
    border: 1px solid var(--text-field-border-color);
    width: auto;
    min-width: 5%;
    min-width: 100px;
    max-width: 100%;
    min-height: 15px;
    max-height: 100%;
    position: absolute;
    border-radius: 3px;
    outline: 0px solid transparent;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
}

foreignObject {
    overflow: visible;
}

.node {
    fill: var(--node-color);
}

.node.focused {
    fill: var(--focused-color);
}

//// probably wont implement this
//circle.node.focused.insert {
//    fill: #909;
//}

//// probably wont implement this
//circle.node.focused.move {
//    fill: #f40;
//}

.nodeBorder {
    fill: var(--node-border-color);
    opacity: 0.0;
}

.nodeBorder.hovered {
    opacity: 1.0;
}

.nodeBorder.highlighted {
    fill: var(--highlighted-color);
    opacity: 1.0;
}

.nodeBorder.invalid {
    fill: var(--invalid-color);
    opacity: 1.0;
}

.nodeHalo {
    fill: #fff0;
    stroke: var(--node-border-color);
    stroke-width: 25;
    opacity: 0.0;
}

.nodeHalo.focused {
    opacity: 1.0;
}

.nodeHalo.ready {
    stroke: var(--focused-color);
    opacity: 0.5;
}

.nodeHalo.invalid {
    stroke: var(--invalid-color);
}

.edge {
    stroke: var(--edge-color);
    stroke-width: 1.5px;
}

.edge.invalid {
    stroke: var(--invalid-color);
    stroke-width: 1.5px;
}

.edge.focused {
    stroke: var(--focused-color);
    stroke-width: 3px;
}

.edgeBorder {
    stroke: var(--node-border-color);
    stroke-width: 25px;
    opacity: 0.0;
}

.edgeBorder.hover {
    opacity: 1.0;
}

//.edgeBorder.focusGroup {
//    stroke: var(--highlight-color);
//    stroke-width: 25px;
//}

.edgeBorder.invalid {
    stroke: var(--invalid-color);
    stroke-width: 25px;
}

.drawingEdge {
    pointer-events: none;
}
