body {
    overflow: hidden;
}

svg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background_color: rgba(255,255,255,0);
}

.nonsvg {
    z-index: 1;
    position: absolute;
}

.CodeMirror {
    border: 1px solid #eeeb;
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 400px;
    position: absolute;
    background-color: rgba(255,255,255,.8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
}

.CodeMirror-scroll {
    height: auto;
    width: auto;
    max-height:200px;
    max-width: 400px;
}

/* Hide green edit mode cursor when codemirror not in focus */
.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.0);
}
.CodeMirror-focused .cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.5);
}

circle {
    fill: #000;
}

circle.node.focused {
    fill: #fc0;
}

circle.node.focused.insert {
    fill: #909;
}

circle.node.focused.move {
    fill: #f40;
}

.nodeBorder {
    fill: #0001;
    opacity: 0.0;
}

.nodeBorder.grouped {
    fill: #08f2;
    opacity: 1.0;
}

.nodeBorder.invalid {
    fill: #f662;
    opacity: 1.0;
}

.nodeBorder.clicked {
    fill: #44f3;
    opacity: 1.0;
}

.halo {
    fill: #fff0;
    stroke: #0001;
    stroke-width: 25;
    opacity: 0.0;
}

.halo.ready {
    stroke: #fb07;
}

.halo.invalid {
    stroke: #f667;
}

line {
    stroke: #666;
    stroke-width: 1.5px;
}

line.invalid {
    stroke: #f66;
    stroke-width: 1.5px;
}

line.focused {
    stroke: #fc0;
    stroke-width: 3px;
}

.edgeBorder {
    stroke: #0001;
    stroke-width: 25px;
    opacity: 0.0;
}

.edgeBorder.focusGroup {
    stroke: #08f1;
    stroke-width: 25px;
}

.edgeBorder.invalid {
    stroke: #f662;
    stroke-width: 25px;
}

line.drawing {
    pointer-events: none;
}
