:root {
  --node-color: #000000;
  --node-border-color: #00000033;
  --focused-color: #ffcc00;
  --highlighted-color: #0088ffbb;
  --invalid-color: #ff6666bb;
  --text-field-border-color: #aaaaaacc;
  --text-field-background-color: #ffffffbb;
  --edge-color: #666666;
  --transparent-white-color: #ffffff00;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

input {
    display: none;
}

.panes {
    height: 100%;
    width: 100%;
    background-color: var(--text-field-border-color);
    display: block;
}

.pane {
    background-color: white;
    position: absolute;
    border: 2px solid white;
}

.pane.focused {
    border: 2px solid var(--focused-color);
}

svg {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.nonsvg {
    z-index: 1;
    // position: absolute;
}

.text-field {
    border: 1px solid var(--text-field-border-color);
    min-width: 5%;
    min-width: 20px;
    max-width: 100%;
    min-height: 15px;
    max-height: 100%;
    position: absolute;
    border-radius: 3px;
    outline: 0px solid transparent;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
    background-color: var(--text-field-background-color);
}

foreignObject {
    overflow: visible;
}

.title {
    font-size: 30px;
}

.invalidIndicator {
    fill: var(--invalid-color);
}

.node {
    fill: var(--node-color);
}

.node.ghost {
    fill: var(--text-field-border-color);
}

.node.focused {
    fill: var(--focused-color);
}

.nodeBorder {
    fill: var(--node-border-color);
    opacity: 0.0;
}

.nodeBorder.hovered {
    opacity: 1.0;
}

.nodeBorder.highlighted {
    fill: var(--highlighted-color);
    opacity: 1.0;
}

.nodeBorder.invalid {
    fill: var(--invalid-color);
    opacity: 1.0;
}

.nodeHalo {
    fill: var(--transparent-white-color);
    stroke: var(--node-border-color);
    stroke-width: 25;
    opacity: 0.0;
}

.nodeHalo.focused {
    stroke: var(--focused-color);
    opacity: 1.0;
}

.nodeHalo.ready {
    stroke: var(--highlighted-color);
    opacity: 1.0;
}

.nodeHalo.invalid {
    stroke: var(--invalid-color);
    opacity: 1.0;
}

.edge {
    stroke: var(--edge-color);
    stroke-width: 1.5px;
}

.edge.mappingEdge {
    stroke: var(--highlighted-color);
    stroke-width: 4.5px;
}

.edge.invalid {
    stroke: var(--invalid-color);
    stroke-width: 1.5px;
}

.edge.focused {
    stroke: var(--focused-color);
    stroke-width: 3px;
}

.edgeBorder {
    stroke: var(--node-border-color);
    stroke-width: 25px;
    opacity: 0.0;
}

.edgeBorder.hover {
    opacity: 1.0;
}

.edgeBorder.invalid {
    stroke: var(--invalid-color);
    stroke-width: 25px;
}

.drawingEdge {
    pointer-events: none;
}
