:root {
  --node-color: #000;
  --node-border-color: #0001;
  --focused-color: #fc0;
  --highlighted-color: #08f2;
  --invalid-color: #f662;
  --text-field-border-color: #dddc;
  --edge-color: #666;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

input {
    display: none;
}

.panes {
    height: 100%;
    width: 100%;
    background-color: var(--text-field-border-color);
    display: block;
}

.pane {
    background-color: white;
    position: absolute;
    border: 2px solid white;
}

.pane.focused {
    border: 2px solid #fc0;
}

svg {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.nonsvg {
    z-index: 1;
    // position: absolute;
}

.text-field {
    border: 1px solid var(--text-field-border-color);
    min-width: 5%;
    min-width: 20px;
    max-width: 100%;
    min-height: 15px;
    max-height: 100%;
    position: absolute;
    border-radius: 3px;
    outline: 0px solid transparent;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
    background-color: #fffc;
}

foreignObject {
    overflow: visible;
}

.title {
    font-size: 30px;
}

.node {
    fill: var(--node-color);
}

.node.ghost {
    fill: var(--text-field-border-color);
}

.node.delay {
    fill: url(#pattern-delay-fill);
    stroke: black;
    stroke-width: 2;
}

.node.focused.delay {
    fill: url(#pattern-delay-fill);
    stroke: var(--focused-color);
}

.node.delay.border-shadow {
    stroke: var(--node-border-color);
    fill: #fff0;
}

.pattern-delay-fill-rect1 {
    fill: #0003
}

.pattern-delay-fill-rect2 {
    fill: #0001
}

.node.focused.amplifier-below-unity {
    fill: url(#pattern-amplifier-below-unity);
}

.amplifier-below-unity-triangle {
    fill: var(--focused-color);
}

.node.focused.amplifier-above-unity {
    fill: url(#pattern-amplifier-above-unity);
}

.amplifier-above-unity-triangle {
    fill: var(--focused-color);
}

.pattern-amplifier-unity-background {
    fill: #0005;
}

.analyser-border {
    fill: #0000;
    border: 1px solid var(--text-field-border-color);
}

.spectrum-polylines {
    fill: none;
    stroke: #000;
    stroke-width: 1.0;
}

.node.focused {
    fill: var(--focused-color);
}

.nodeBorder {
    fill: var(--node-border-color);
    opacity: 0.0;
}

.nodeBorder.hovered {
    opacity: 1.0;
}

.nodeBorder.highlighted {
    fill: var(--highlighted-color);
    opacity: 1.0;
}

.nodeBorder.invalid {
    fill: var(--invalid-color);
    opacity: 1.0;
}

.nodeHalo {
    fill: #fff0;
    stroke: var(--node-border-color);
    stroke-width: 25;
    opacity: 0.0;
}

.nodeHalo.focused {
    opacity: 1.0;
}

.nodeHalo.ready {
    stroke: var(--focused-color);
    opacity: 0.5;
}

.nodeHalo.invalid {
    stroke: var(--invalid-color);
}

.edge {
    stroke: var(--edge-color);
    stroke-width: 1.5px;
}

.edge.mappingEdge {
    stroke: #28f;;
    stroke-width: 4.5px;
}

.edge.invalid {
    stroke: var(--invalid-color);
    stroke-width: 1.5px;
}

.edge.focused {
    stroke: var(--focused-color);
    stroke-width: 3px;
}

.edgeBorder {
    stroke: var(--node-border-color);
    stroke-width: 25px;
    opacity: 0.0;
}

.edgeBorder.hover {
    opacity: 1.0;
}

.edgeBorder.invalid {
    stroke: var(--invalid-color);
    stroke-width: 25px;
}

.drawingEdge {
    pointer-events: none;
}
